.textLink {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
  }

  &:focus {
    &::before {
      content: "";
    }
  }

  &.primary {
    color: red;
    background-color: pink;

  }

  &.secondary {
    color: black;

  }
}
